# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
crash.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
.DS_Store
